<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.basiclands.servlet.InitServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>InitServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SetServlet</servlet-name>
		<servlet-class>com.basiclands.servlet.SetServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SetServlet</servlet-name>
		<url-pattern>/Sets</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetLandsFromJsonServlet</servlet-name>
		<servlet-class>com.basiclands.servlet.GetLandsFromJsonServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>GetLandsFromJsonServlet</servlet-name>
		<url-pattern>/GetLandsFromJson</url-pattern>
	</servlet-mapping>
	
</web-app>